@model IEnumerable<MyLibrary.ViewModel.LibraryStatsViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Libraries</h2>

<p>
    Below are your Libraries. Add another one or configure your existing ones.
</p>

<p>
    <a href='@Url.Action("Add","Library")' class="btn btn-primary btn-sm" type="button">&#x2B Add library</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayName("Bookshelves")
        </th>
        <th>
            @Html.DisplayName("Books")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            <a href='@Url.Action("Index","Bookshelf",new { libraryId = item.LibraryId })' class="btn btn-default btn-sm" type="button">@item.NumberOfBookshelves.ToString() &raquo;</a>
        </td>
        <td>
            <a href='@Url.Action("Index","MyBooks",new { libraryId = item.LibraryId })' class="btn btn-default btn-sm" type="button">@item.NumberOfBooks.ToString() &raquo;</a>
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { libraryId=item.LibraryId }) |
            @Html.ActionLink("Details", "Details", new { libraryId=item.LibraryId }) |
            @Html.ActionLink("Delete", "Delete", new { libraryId=item.LibraryId })
        </td>
    </tr>
}

</table>
