@model IEnumerable<MyLibrary.ViewModel.AddedBookViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Books in library</h2>
<div class="pull-left">
    @Html.ActionLink("Add book", "AddBookToLibrary", "MyBooks", null, new { @class = "btn btn-primary btn-sm" })
</div>
<div class="pull-right">
    @using (Html.BeginForm())
    {
        <p>
            Find book: @Html.TextBox("SearchString")
            <input type="submit" value="Search" />
        </p>
    }
</div>

<br /><br/>

<p>
    @ViewBag.Bookcount books added.
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Cover")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsRead)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookMark)
        </th>
        <th>
            @Html.DisplayName("Library")
        </th>
        <th>
            @Html.DisplayName("Bookshelf")
        </th>
        <th>
            @Html.DisplayName("Shelf")  
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        @Html.Partial("_AddedBooksDetailsPartial", item)
    }

</table>
