@model IEnumerable<MyLibrary.Models.BookModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Book catalog</h2>

<p>
    Below are the latest books added to the catalog. Search through the catalog by title, author, publisher, Genre and year published using the search box bellow.
</p>

<div class="pull-left">
    @if (!User.Identity.IsAuthenticated)
    {

        @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })<span> to add a new book.</span>

    }
    else
    {

        @Html.ActionLink("Auto Add", "AddByISBN", "Book", null, new { @class = "btn btn-primary btn-sm", role = "button" }) <span>&nbsp;</span>
        @Html.ActionLink("Manual Add", "Add", "Book", null, new { @class = "btn btn-primary btn-sm", role = "button" })

    }
</div>
<div class="pull-right ">
    @using (Html.BeginForm())
    {

        <span>Find book:</span> @Html.TextBox("SearchString")
        <input type="submit" value="Search" />

    }
</div>
<br />
<br />

<p>
    @ViewBag.BookCount books found.
</p>

@if (ViewBag.BookCount > 10)
{
    <p>
        Showing only latest 10 books added.
    </p>
}

<table class="table table-hover">
    <tr>
        <th>
            Cover
        </th>
        <th>
            @Html.DisplayName("Book")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        @Html.Partial("_BookDetailsPartial", item)
    }

</table>
