@model IEnumerable<MyLibrary.ViewModel.ShelfStatsViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Shelfs in your bookshelf</h2>

<p>
    <a href='@Url.Action("Add","Shelf",new { bookshelfId = Guid.Parse(Request.QueryString["bookshelfId"]) })' class="btn btn-primary btn-sm" type="button">&#x2B Add shelf</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayName("Books")
        </th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            <a href='@Url.Action("Index","MyBooks",new { shelfId = item.ShelfId })' class="btn btn-default btn-sm" type="button">@item.NumberOfBooks.ToString() &raquo;</a>
        </td>
        <td>
            <a href='@Url.Action("AddBookToShelf","MyBooks",new { shelfId = item.ShelfId })' class="btn btn-primary btn-sm" type="button">&#x2B Add book</a>
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { shelfId=item.ShelfId }) |
            @Html.ActionLink("Details", "Details", new { shelfId=item.ShelfId }) |
            @Html.ActionLink("Delete", "Delete", new { shelfId=item.ShelfId })
        </td>
    </tr>
}

</table>
